body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-size: 16px;
    letter-spacing: 2%;
    font-weight: 400;
    background-color: #FFFFFF;
}

h1 {
    color: white;
    font-size: 56px;
    line-height: 60px;
}

h2 {
    font-size: 36px;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    font-weight: 500;
}

a {
    text-decoration: none;
}

p {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 4%;
    font-weight: 400;
}

button {
    cursor: pointer;
    background-color: #4D5AE5;
    letter-spacing: 4%;
    line-height: 24px;
    color: white;
}

button:hover {
    background-color: #404BBF;
}

.main-page {
    background-color: #2E2F42;
}

nav ul li>a {
    color: black;
}

nav ul li a:hover {
    color: #404BBF; 
}

.active-menu>a:active {
    text-decoration: underline;
}

.logo {
    text-transform: uppercase;
    color: #4d5ae5;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.main-logo {
    color: #2e2f42;
}

.footer-logo {
    #2e2f42
}

.footer-text {
    color: #F4F4FD;
}

footer {
    background-color: #2E2F42;
}

